@import "variables"
@import "../../node_modules/bulma/bulma"

.title
    font-family: $family-title

.hero
    .is-profile
        border-radius: 50%
        border: 5px solid $white-bis
        margin-right: 30px

    //.title
    //    font-size: 3.4rem

.social
    li
        display: inline-flex
        background: #b0b7bf
        width: 36px
        height: 36px
        border-radius: 50%
        color: #fff
        background-clip: padding-box
        align-items: center
        justify-content: center
        margin: 0 5px
.box
    .title
        border-bottom: 1px solid $grey-lighter

.footer
    background-color: $white


.tag
    margin-top: 4px

hr
    margin: 1rem 0