// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Anton")

// Variables
@import "variables"
@import "../../../node_modules/bulma/bulma"

.title
    font-family: $family-title

.spread
    display: flex
    justify-content: space-between
    align-items: flex-end

.hero
    .is-profile
        border: 5px solid $white
        border-radius: 50%
        margin-right: 30px
        filter: grayscale(100%)

        &:hover
            filter: none

.social
    li
        align-items: center
        display: inline-flex
        justify-content: center
        margin: 0 5px

        a
            align-items: center
            background: $primary
            background-clip: padding-box
            border-radius: 50%
            color: $white
            display: inline-flex
            height: 36px
            justify-content: center
            width: 36px

            &:hover
                background: darken($primary, 5%)

.resume
    margin: 10px 25px 0 25px

.box
    box-shadow: none
    .title
        border-bottom: 1px solid $grey-lighter

.footer
    background-color: $white

hr
    margin: 1rem 0

.content
    table
        thead
            th
                background-color: $primary
                color: $white

hr:last-of-type
    display: none
