// Fonts
@font-face
    font-family: 'Dosis'
    font-style: normal
    font-weight: normal
    src: url('/storage/fonts/Dosis-Regular.ttf')  format('truetype')

@font-face
    font-family: 'Dosis'
    font-style: italic
    font-weight: normal
    src: url('/storage/fonts/Dosis-Regular.ttf')  format('truetype')

@font-face
    font-family: 'Dosis'
    font-style: normal
    font-weight: bold
    src: url('/storage/fonts/Dosis-Bold.ttf')  format('truetype')

// Variables
@import "variables"
@import "../../../node_modules/bulma/bulma"

body
    font-family: 'Dosis', serif
    font-size: 0.85rem

em
    font-style: italic

hr
    margin-top: 0
    margin-bottom: 0.25rem

table
    margin-bottom: 0 !important

blockquote
    margin-top: 1em

.img-icon
    position: absolute
    right: 15px
    width: 75px

.hero
    display: block
    margin-bottom: 1rem

.content
    margin: 0 2rem 2rem

    table th
        font-weight: bold

    table td, table th
        border: 0
        padding-right: 0 !important
        padding-left: 0 !important
        padding-bottom: 0 !important

    ul
        list-style: none
        margin-left: 0 !important
        margin-top: 0 !important

    .title
        font-weight: bold

.is-size-1
    margin-bottom: 0 !important

.is-size-6
    margin-top: 1rem
    margin-bottom: 0 !important


